body {
    background: #EEEEEE;
    color: #31394a;;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#ui {
    position: absolute;
    padding: 0 5px;
    background-color: #ffffff;
    /*border: 1px solid rgba(0, 0, 0, 0.13);*/
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.ui-button {
    height: 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 300ms;
}

.ui-button:hover {
    opacity: 0.8;
}

.ui-button-start-stop {
    background-color: #1DE9B6;
}

.ui-button-clear {
    background-color: #FF8A65;
}

.ui-button-generate {
    background-color: #81D4FA;
}

.ui-input {
    width: 55px;
    border-radius: 3px;
    border: none;
}

.ui-weight {
    width: 50px;
    vertical-align: middle;
    margin-left: 10px;
}